body {
    display: flex;
    min-height: 100vh;
   flex-direction: column;
 }

#header{

    font-family: 'Lobster', cursive;
    text-align:center;
    font-size: 50px;
}

.box {
    display: flex;
  }

.one {
    flex: 1 1 auto;
    color: black;
    border: 1px solid black;
    padding: 10px;
  }

.two {
    flex: 1 1 auto;
  }

.three {
    flex: 1 1 auto;
    color: black;
    border: 1px solid black;
    padding: 10px;
  }
 
  /* 
.center-corgi{
    flex: 1;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/

.center-text{
    text-align: center;   
}

#corgi-space {
    color: black;
    border: 1px solid black;
    padding: 10px;
}

